@import '../variables.scss';

.footer {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: auto 13rem; /*todo: extract width of column to constant*/
  /*border-top: 1px solid #eaeaea;*/
  height: 70px; /*See at App/Style.module.css - .footer-pusher*/
}
nav {
  /*width: 100%;*/
  float: right;
  max-width: 1140px;

  a {
    color: #c8c8c8;
    display: inline-block;
    text-decoration: none;
    /*border-bottom: 1px solid #dcdcdc;*/
    transition: all 0.5s ease-out;

    &:hover {
      color: black;
      /*border-bottom-color: transparent;*/
      transition: all 0.5s ease-out;
    }
  }
}

.linkIcon {
  cursor: default;
  &:hover {
    color: $color-blue-primary;
    transition: $transition-basic;
  }
}