@import '../variables.scss';

.footer {
  display: grid;
  gap: 20px;
  grid-template-columns: auto $sidebar-width;
  height: 70px;
}
nav {
  a {
    color: $color-gray-light;
    display: inline-block;
    text-decoration: none;
    transition: $transition-basic;

    &:hover {
      color: $color-black-text;
      transition: $transition-basic;
    }
  }
}
.linkIcon {
  cursor: default;
  color: $color-gray-light;
  &:hover {
    color: $color-blue;
    transition: $transition-basic;
  }
}
