@import '../../../config/variables';

.formWrapper {
  display: grid;
  grid-row-gap: 10px;
  max-width: 700px;
}
.input {
  width: 100%;
}
.select {
}
.inputText {
}
.inputAuthor {
}
.inputTitle {
}
.inputNewTag {
}
.inputTags {
}
.fieldLine {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto 20px;
  grid-column-gap: 10px;
  &.fieldLineTwo {
    grid-template-columns: auto 20px;
  }
}
.subtitle {
  margin-bottom: 0;
}
.paragraphLabel {
  font-weight: bold;
}
.buttonSubmit {
  min-width: 150px;
  max-width: 200px;
  margin-top: 10px; //todo: переделать на grid
}