@import '../../variables';

.blockquoteContainer {
  display: grid;
  row-gap: 20px;
  margin-top: 0;
}
.blockquote {
  margin: 0;
  font-size: $font-size-xxl;
  quotes: '«' '»' '„' '“';
  position: relative;

  &::before,
  &::after {
    font-size: $font-size-xxxl;
  }
  &::before {
    content: '\201E';
    position: absolute;
    left: -25px;
    line-height: 0.5;
  }
  &::after {
    content: '\201C';
    position: relative;
    top: 7px;
    left: 3px;
    line-height: 0;
  }
}
.blockquoteFooter {
  display: grid;
  row-gap: 3px;
  .authorAndSource {
    .author {
    }
    .source {
      font-style: normal;
    }
  }
}
.cardText {
}
.blockquoteId {
  margin-top: 20px;
  font-size: $font-size-s;
  color: $color-gray;
}
