@import '../../../config/variables';

/*.footer {
  padding-top: 18px; //todo: fix it
  display: grid;
  gap: 12px;
  grid-template-columns: 18px auto $sidebar-width;
  height: 70px;
}*/
.addressBlock {
  text-align: right;
  padding-right: $sidebar-padding-right;
}
.linkIcon {
  cursor: default;
  color: $color-gray-light;
  &:hover {
    color: $color-blue;
    transition: $transition-basic;
  }
}
.logoWrapper {
  display: inline-block;
  padding-top: 2px;
  filter: grayscale(100%);
  transition: $transition-basic;
  &:hover {
    filter: grayscale(0);
    transition: $transition-basic;
  }
}
