@import '../variables.scss';

html {
  position: relative;
  color: $color-black-text;
  font-size: $font-size-basic;
  line-height: $line-height-basic;
}
body {
  margin: 0;
  padding: 0 40px;
}
// Don't forget about #root in public/default.css
.main {
  padding-top: 50px;
  margin: 0 auto;
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: auto $sidebar-width;
}
.leftColumn {
  position: relative; //for position <Preloader> on src/components/Pages/AddQuote/PageAddQuote.tsx
}