@import '../variables.scss';

html {
  height: 100%;
  position: relative;
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 50px 40px 0;
  color: $color-black-text;
}
.content {
  min-height: calc(100vh - 50px);
  margin: 0 auto -70px;  /*See at PageFooter/Style.module.css - .footer*/
  display: grid;
  gap: 1.25rem;
  grid-template-columns: auto 13rem; /*todo: extract width of column to constant*/
}
button {
  background-color: transparent;
  position: relative;
  z-index: 11;
  border: none;
  svg {
    color: #333;
    transition: $transition-basic;
  }
  &:hover svg {
    color: $color-blue-primary;
    transition: $transition-basic;
  }
}
