@import '../variables.scss';

.list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  column-gap: 10px;
}
.listInline {
}
.listItem {
  list-style: none;
  color: $color-gray;
}
