@import '../../variables';

.navList {
  display: grid;
  column-gap: 10px;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  .navItem {
  }
  a {
    &.active {
      color: $color-black-text;
      cursor: default;
    }
  }
}