@import '../../variables';

.listSidebar {
  margin: 0;
  padding: 0 $sidebar-padding-right 0 0;
  overflow: hidden;
  display: grid;
  text-align: right;


  max-height: 30vh;
  overflow-y: auto;
}
.listAuthors {
}
.listItem {
  list-style: none;
  display: block;
}
