//Colors
$color-black-text: #333;
$color-blue: #0079fe; //color from logo
$color-red: #fe0036; //color from logo
$color-gray: #808080ff; //gray
$color-gray-light: #c0c0c0ff; //silver

//Font
$font-size-xxxl: 2.2rem;
$font-size-xxl: 1.5rem;
$font-size-xl: 1.125rem;
$font-size-basic: 1rem;
$font-size-s: 0.7rem;
$line-height-basic: 1.2;

//Other
$sidebar-width: 13rem;
$transition-basic: all 0.5s ease-out;
