@import '../variables.scss';

.sidebar {
  display: grid;
  row-gap: 30px;
  align-self: baseline;
}
.sectionSidebar {
  max-height: 30vh;
  overflow-y: auto;
}
.sectionTags {}
.sectionAuthors {}
.titleSidebar {
  margin: 0 0 6px;
  font-size: $font-size-xl;
}